:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', 'Work Sans', sans-serif;
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: inherit;
}

/* CONTENT =================*/
main {
    min-height: 100vh;
    padding: 50px 0 50px 36px;
    background-image:  linear-gradient( var(--body-bg-color),  var(--body-bg-color)), url(assets/read_news.jpg);
    background-position: left center, right -100px  center;
    background-repeat: no-repeat;
    background-size: 50%, auto 100%;
   
}
#logo {
    max-width: 389px;
    width: 100%;
    margin-bottom: 92px;
}

.texts { 
    padding: 0 55% 0 0;
}
.texts h1 {
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Work Sans';
    margin-bottom: 11px;
}
.subtitle {
    font-weight: bold;
    margin-bottom: 10px;
}
.texts p {
    font-size: .875rem;
}

main form {
    display: grid;
    grid-template-rows: auto auto;
    row-gap:20px;
    margin: 50px 5% 50px 0;
   
}
main form div {
    position: relative;
    width: 100%;
    max-width: 798px;
}
main form label {
    font-size: .875rem;
    font-weight: bold;
    color: var(--form-color);
}
main form input {
    width: 100%;
    height: 48px;
    border: none;
    border-left: 5px solid var(--title-color);
    padding-left: 15px;
    color: rgb(68, 68, 68);
    font-size: 1rem;
    outline: none;
    box-shadow: 5px 5px 10px;
}
main form button {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background-color: var(--bg-button-color);
    cursor: pointer;
}
#link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-button-color);
}
#link svg {
    stroke: var(--bg-button-color);
}

@media(max-width:800px) {
    main {
        padding-right: 40%;
        background-position: left center, right -150px  center;
        background-size: 65%, auto 100%;
    }
    main form input {
        width: 160%;
    }
    main form button {
        right: -60%;
    }

    .texts {
        padding: 0;
    }
}