:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Poppins", sans-serif;
} 

/*     MENU PRINCIPAL             */
#header {
  background-color: #290742;

}

.header-container {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  max-width: calc(1200px + 4rem);
  width: 100%;
  margin: 0 auto;

  padding: 64px 2rem 1rem;
}

/*      MENU - Links         */
#menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-size: 18;
}

#menu li a{
  text-decoration: none;
  color: #fff;
}

#menu li a:hover {
  border-bottom: 2px solid #4fff4b;
  color: #ffffffda;
}

#menu-selected a{
  font-weight: bold;
  border-left: 2px solid #4fff4b;
  padding-left: 3px;
}

/*      MENU -    Caixa de Pesquisa           */
#menu-search {
  display: flex;
  max-width: 300px;
  width: 100%;
}

#menu-search-input {
  width: 100%;
  height: 44px;
  padding: 1rem;

  border: none;
  border-radius: 4px 0 0 4px;

  background-color: #170027;
  color: #fff;
}

#menu-search-input::placeholder {
  color: #fff;
}

#menu-search  button {
  max-width: 70px;
  width: 100%;

  border: none;
  border-radius: 0 4px 4px 0;

  background-color: #9e6dc2;
  cursor: pointer;
}

#menu-search  button:hover {
  background-color: #9f6dc2d5;
}

#menu-search  button img {
  width: 1.5rem;
  background-color: transparent;
}

/*  MENU - Botão do menu mobile    */
#menu-button-mobile {
  display: none;
}


/* BODY - Post Principal */

.mainPost {
  background-color: #290742;
  border-bottom: 6px solid #4fff4b;
}

.mainPost-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  max-width: calc(1200px + 4rem);
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
  margin: 0 auto;
  
}

.mainPost-content-text h1 {
  color: #9e6dc2;
  font-size: min(36px, 2.9vw);
  font-family: 'Poppins';
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0 1rem 0 0;
}

.mainPost-content-text a {
  text-decoration: none;
}

.mainPost-content-text h1:hover {
  opacity: 0.7;
}

.mainPost-content-text P {
  font-size: min(18px, 1.5vw);
  color: #fff;
  margin-bottom: 1.5rem;
  padding: 0 24% 0 0;
}

.mainPost-content-text button  {
  background-color: transparent;
  border: none;
  display: flex;
  gap: .5rem;
  width: 7rem;
  font-size: 18px;
  font-weight: 700;
  color: #9e6dc2;
  cursor: pointer;

}

.mainPost-content-text button img {
  width: 24px;
}

.mainPost-content-text button:hover {
  opacity: 0.7;
}
.mainPost-content a {
  display: contents;
}

.mainPost-content a img {
  width: 50%;
  height: fit-content;
}

.posts {
  max-width: calc(1200px + 4rem);
  width: 100%;
  padding: 4rem 2rem 0;
  margin: 0 auto;
  
  display: grid;  
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas: 
    "post1 post1 post1 post2e3 post2e3 post2e3"
    "post4 post4 post5 post5 post6 post6"
    ;  
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post a {
  display: contents;
}


.post h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #290742;
}

.post p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.post h1:hover {
  opacity: 0.7;
}

.post span {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.172rem;
}

.post2e3 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-left: 6rem;
}

.post1 { grid-area: post1; }
.post2e3 { grid-area: post2e3; }
.post4 { grid-area: post4; }
.post5 { grid-area: post5; }
.post6 { grid-area: post6; }

@media (max-width: 760px) {
  .header-container {
    padding: 2rem 1rem 1rem;
    gap: .5rem;
  }

  /*  MENU - BOTÃO MOBILE   */
  #menu-button-mobile {
    display: flex;
    padding: .5rem .5rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }

  #hamburger {
    display: block;
    width: 20px;
    border-top: 2px solid #9e6dc2;
  }

  #hamburger::after, #hamburger::before {
    content: '' ;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #9e6dc2;
    margin-top: 5px;
    transition: .5s;
    position: relative;
  }

  #header.active #hamburger {
    border-top-color: transparent;
  }

  #header.active #hamburger::before {
    	transform: rotate(135deg);
  }

  #header.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  

  /* MENU - Links Mobile */
  .nav {  
    position: absolute;
    top: 88px;
    left: 0;
    width: 100vw;
    
    background-color: #290742;
    
    visibility: hidden;
    height: 0;
    transition: .8s;
    overflow-y: hidden;
  }

  #menu {
    flex-direction: column;
    padding-top: 2rem;
  }

  #menu li {
    width: 100vw;
    border-bottom: 1px solid #9e6dc2;
  } 
  
  #menu li a {
    display: flex;
    text-align: center;
    justify-content: end;
    padding: 1rem;   
    font-size: 20px;
  }

  #menu li a:hover {
    border: none;
  }

  #header.active .nav {
    visibility: visible;
    height: calc(100vh - 88px);
  }

  /*  MENU - Caixa de Pesquisa Mobile */
  #menu-search {
    display: flex;
    justify-content: end;
  }

  #menu-search-input {
    visibility: hidden;
    position: absolute;
    top: 88px;
    left: 0;
    width: 100vw;
    border-radius: 0;
  }

  #menu-search button {
    width: 2rem;
    padding: 4px 0; 
    border-radius: 5px;
    background-color: transparent;
  }

  #menu-search.active #menu-search-input {
      visibility: visible;
  }

}