.form {
    height: 3.375rem;
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 0 1rem;
    margin-top: calc(-3.375rem / 2);   
}

.inputForm {
    max-width: 40rem;
    width: 100%;
    padding: 1rem;

    border: 1px solid var(--color-gray-700);
    border-radius: 8px;

    background: var(--color-gray-500);
    color: var(--color-gray-300);

    font-size: 1rem;
    font-weight: 400;
    line-height: 22.4px;
}

.buttonForm {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;

    border: none;
    border-radius: 8px;

    font-size: 0.875rem;
    font-weight: bold;
    line-height: 20px;

    background: var(--color-blue-dark);
    color: var(--color-gray-100);
}